// main color themes
$primary: rgb(0, 169, 79);
$secondary: rgb(245, 247, 246);
$tertiary: rgb(203, 226, 207);

// other colors
$hover-primary: rgb(0, 169, 79, 0.8);
$translucent-black: rgba(0, 0, 0, 0.5);
$subtitle: #6c757d;
$border-gray: #D7B6B6;
$darkgreen: #323232;

// static elements
$navbar-height: 60px;
$footer-height: 60px;
