// main color themes
$primary: #00a94f;
$secondary: #f5f7f6;
$tertiary: #cbe2cf;

// other colors
$translucent-black: rgba(0, 0, 0, 0.5);
$subtitle: #6c757d;
$border-gray: #D7B6B6;
$darkgreen: #323232;

// static elements
$navbar-height: 60px;
$footer-height: 60px;
