// main color themes
$primary: hsl(148, 100%, 33.1%);
$secondary: hsl(150, 11.1%, 96.5%);
$tertiary: hsl(130, 28.4%, 84.1%);

// main color theme variants
$hover-primary: hsl(148, 100%, 25%);
$hover-secondary: hsl(150, 11.1%, 90%);
$hover-tertiary: hsl(130, 28.4%, 75%);

// other colors
$btn-border: rgb(206, 212, 218);
$translucent-black: rgba(0, 0, 0, 0.5);
$subtitle: #6c757d;
$border-gray: #D7B6B6;
$darkgreen: #323232;
$lightgray: #eee;
